<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
  {{>navbar}}


   <!-- Main header-->
 <div class="container-fluid main_header">
     <div class="row">
         <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="./images/pexels-almighty-shilref-7430777.jpg" alt="Ammar" class="img-fluid" 
                        style="width:80%;"
                        >
                    </figure>
                    
                 </div>
<!-- Right side code-->
                 <div class="col-md-6 col-12 main_header_left ">
                    <p>Welcome to weather App</p>
                    <h1> I am a  <span class="text_clr"> Mern Stack developer</span> and freelancer </h1>
                    <a href="https://www.linkedin.com/in/ammar-hussain-2a0025184/" target="_blank "><button>About Mee</button></a>
                 </div>
                 
            
             </div>
         </div>
     </div>
 </div>
   <!-- Footer code here-->
   {{>footer}}
</body>
</html>